<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TASKPLANNER</title>
    <link rel="stylesheet" href="{{ asset('css/sign.css') }}">
    <link rel="stylesheet" href="font-awesome.min.css">
</head>

<body>

<div>
    <input type="checkbox" class="checkboxButton">
    <div class="mainButton">
        <span class="signInText">Sign in</span>
        <span class="signUpText">Sign up</span>
    </div>

    <div class="formsWrapper">
        <div class="logo">
            <img src="task.png" alt="Task Image">
        </div>
        <div class="signIn">
            <h1 class="title">Welcome back</h1>
            <form action="">
                <div class="input">
                    <input type="text" placeholder="Email">
                    <label for="">Email</label>
                </div>
                <div class="input">
                    <input type="password" placeholder="Password">
                    <label for="">Password</label>
                </div>

                <a href="" class="link">Forgot password?</a>

                <button class="formButton">Sign in</button>
            </form>


            <!-- signature -->
        </div>

        <div class="signUp">
            <h1 class="title">SIGN UP</h1>
            <form action="{{ path('app_adduser') }}" method="post">
                {{ form_widget(SignupType) }}
                <div class="input">
                    {{ form_widget(form.username, { 'attr': {'placeholder': 'Name'} }) }}
                    {{ form_label(form.username) }}
                </div>
                <div class="input">
                    {{ form_widget(form.email, { 'attr': {'placeholder': 'Email'} }) }}
                    {{ form_label(form.email) }}
                </div>
                <div class="input">
                    {{ form_widget(form.password, { 'attr': {'placeholder': 'Password'} }) }}
                    {{ form_label(form.password) }}
                </div>
                <button class="formButton" type="submit">Sign up</button>
            </form>
            <!-- signature -->
        </div>

    </div>

    <div class="main"></div>

    <div class="leftBar">
        <div class="content1">
            <h1>One of us ?</h1>
            <p>If you have an account,
                just sign in.</p>
        </div>

        <div class="content2">
            <h1>New Here ?</h1>
            <p>Sign up and discover great<br> methods to plan your projects.</p>
        </div>
    </div>
</div>
</body>
</html>